.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.switchers {
  display: flex;
  gap: 20px;
}

.nav__list{
  display: flex;
  gap: 20px;
}

.nav__list li{
  list-style: none;
  cursor: pointer;
  border: 1px solid;
  padding: 0.3rem;
  border-radius: 10px;
  transition: .3s all;
}

.nav__list li:hover{
  background-color: #242424;
  color: white;
}

.nav__list_btn{
  text-decoration: none;
}


